{% extends 'base.html' %}

{% block title %}Add Course - Student Management System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"><i class="fas fa-book-plus"></i> Add New Course</h5>
            </div>
            <div class="card-body">
               <h2>Add Course</h2>
                  <form method="POST">
                    Course Name: <input type="text" name="course_name" required><br><br>
                    Duration: <input type="text" name="duration"><br><br>
                    <button type="submit">Add Course</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
