{% extends "base.html" %}

{% block title %}Courses - Student Management System{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-8">
        <h1>Courses</h1>
    </div>
    <div class="col-md-4 text-end">
        <a href="{{ url_for('add_course') }}" class="btn btn-primary">Add New Course</a>
    </div>
</div>
<h2>All Courses</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th>Duration</th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.course_name }}</td>
        <td>{{ course.duration }}</td>
    </tr>
    {% endfor %}
</table>

<div class="table-responsive">
   
</div>
{% endblock %}

